.lifes > span {
  margin: 0 5px;
  color: red;
}
.letter {
  display: flex;
  font-weight: 700;
  width: 120px;
  height: 120px;
  border: 2px solid #d3fa3a;
  align-items: center;
  justify-content: center;
  color: #dcdcdc;
}

.error {
  color: red;
  display: block;
}

.word {
  display: flex;
  gap: 5px;
}

form {
  margin: 50px 0;
  align-items: center;
  gap: 30px;
}

input {
  margin-right: 25px;
  margin-bottom: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.insert {
  padding: 20px;
  background-color: #181818;
  font-size: 32px;
  border: 2px solid #d3fa3a;

  cursor: pointer;
  text-align: center;
}

input:focus {
  outline: none;
}
